# Compiled class files
*.class
bin/
target/
out/

# Encrypted Vault Data File
data/vault.dat
data/*.dat

# Package & Archive Files
*.jar
*.war

# IDE & Editor files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db
